          <li class="item item--category">
            <a href="#contact-information">Contact Information</a>
          </li>
          <li class="item item--category">
            <a href="#diary-dates">Dates for Your Diary</a>
          </li>
          <li class="item item--category">
            <a href="#concert-manager">Concert Manager</a>
          </li>
          <li class="item item--category">
            <a href="#rehearsal-dates">Rehearsal Dates</a>
          </li>
          <li class="item item--category">
            <a href="#subscriptions">Subscriptions</a>
          </li>
          <li class="item item--category">
            <a href="#email-group">Email Group</a>
          </li>
          <li class="item item--category">
            <a href="#voice-reps">Voice Reps</a>
          </li>
          <li class="item item--category">
            <a href="#committee-members">Committee Members</a>
          </li>
          <li class="item item--category">
            <a href="#fogies">FOGIES</a>
          </li>
          <li class="item item--category">
            <a href="#rehearsal-space">Rehearsal Space</a>
          </li>
          <li class="item item--category">
            <a href="#concert-dress">Concert Dress</a>
          </li>
          <li class="item item--category">
            <a href="#safeguarding-policy">Safeguarding Policy</a>
          </li>
          <li class="item item--category">
            <a href="#gdpr-policy">COVID policy</a>
          </li>
          <li class="item item--category">
            <a href="#covid-policy">GDPR Data Management Policy</a>
          </li>