---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    {{ content }}

  </article>

  <aside class="aside typeset aside--left">
    <section class="section section--category-index">
      <nav class="nav nav--categories">
        <ul class="list list--categories">
          {% include {{ page.toc_name }}-toc.html %}
        </ul>
      </nav>
    </section>
  </aside>
</main>

{% include site-footer.html %}